@import "../node_modules/bulma/sass/utilities/initial-variables";

$menu-label-color: $white;
$menu-label-font-size: 1.3em;
$menu-label-spacing: 0.2em;

$menu-item-color: $white;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $white;