@model HomeTools.Models.PartialData.HeaderSection

<section class="hero is-small is-info">
    <div class="hero-body">
        <p class="title">
            @Model.Title
        </p>
        <p class="subtitle">
            @Model.SubTitle
        </p>
    </div>
</section>