<aside class="main-menu menu">
    <p class="menu-label">
        Статистика
    </p>
    <ul class="menu-list">
        <li><a href="@Url.Action("SpaceManage","Statistic")">Пространство</a></li>
    </ul>
</aside>